
    <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="First Name" name="name">
      <label for="floatingInput">Author Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.book}}" placeholder="book" name="book">
      <label for="floatingInput">Book Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="number" min="1900" max="2099" step="1"  class="form-control" id="floatingInput" value="{{this.year}}" placeholder="2001" name="year">
      <label for="floatingInput">Year</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.type}}" placeholder="Fiction" name="type">
      <label for="floatingInput">Type</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  